@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
    --primary-color: #0a0a0ad7;
    --dark-color: #8a8787;
    --light-color: white;
    --lose-color: #dc3545;
    --win-color: #28a745;
    --modal-duration: 1s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: black;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart-btn {
    display: none;
    background: var(--primary-color);
    color: var(--light-color);
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 1rem;
}

.restart-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.header {
    text-align: center;
    margin: 1rem 0;
}

.header h1 {
    margin-bottom: 1rem;
    color: var(--light-color);
}

h2 {
    color: var(--light-color);
}

.score {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: #fff;
}

.score p:nth-child(1) {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 1rem 0rem;
    width: 35%;
}

.score p:nth-child(2) {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 1rem 0rem;
    width: 35%;
}

.score p:nth-child(3) {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 1rem 0rem;
    width: 35%;
}

.choices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.choice {
    font-size: .5rem;
    cursor: pointer;
    color: var(--dark-color);
}

.choice:hover {
    color: var(--light-color);
}

.text-win {
    color: var(--win-color);
}

.text-lose {
    color: var(--lose-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: var(--primary-color);
    color: gray;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-content h1 {
    margin-bottom: 1rem;
}

.modal-content p {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 340px) {
    .choices {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px;
    }
    .choice {
        font-size: 50px !important;
    }
}

@media (min-width: 340px) {
    .choice {
        font-size: 80px !important;
    }
}

@media (min-width: 576px) {
    .choice {
        font-size: 100px !important;
    }
}

@media (min-width: 767px) {
    .choice {
        font-size: 110px !important;
    }
}